TELEBOT_TOKEN=
SERVER_PORT=
SERVER_HOST=
SERVER_IDENTIFIER=
REDIS_URL=redis://root:root@redis:6379
ANDROMEDA_HOST=https://telegram-bot-hub-andromeda.5bdqo7.easypanel.host/
ELASTICSEARCH_URL=http://elasticsearch:9200/