TELEBOT_TOKEN=7375194414:AAHdCpDAYNF5gMsSngAvZNJaTg8qk2ok_P4
SERVER_PORT=
SERVER_HOST=
SERVER_IDENTIFIER=
REDIS_URL=redis://default:251410@142.93.57.153:6380
ANDROMEDA_HOST=http://localhost:8081/
ELASTICSEARCH_URL=https://elastic:251410@telegram-bot-hub-elasticsearch.qkoe1z.easypanel.host