TELEBOT_TOKEN=
SERVER_PORT=
SERVER_HOST=
SERVER_IDENTIFIER=
REDIS_URL=redis://default:251410@telegram-bot-hub_redis:6379
ANDROMEDA_HOST=https://telegram-bot-hub-andromeda.5bdqo7.easypanel.host/
ELASTICSEARCH_URL=https://elastic:251410@telegram-bot-hub-elasticsearch.qkoe1z.easypanel.host